<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", disks_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_disk_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", disk_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.disk.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @disk.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.disk.size", :default => t("activerecord.labels.size", :default => "Size")) %>:</b>
          <%= @disk.size %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.disk.used", :default => t("activerecord.labels.used", :default => "Used")) %>:</b>
          <%= @disk.used %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.disk.mountpoint", :default => t("activerecord.labels.mountpoint", :default => "Mountpoint")) %>:</b>
          <%= @disk.mountpoint %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_disk_path(@disk), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), disk_path(@disk), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>